<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <div class="account-balance-wrapper">

      <a mat-list-item routerLink="/">Index</a>
      <a mat-list-item routerLink="/film">Film</a>

      <div *ngIf="!loggedIn" class="logged-in">
        <a mat-list-item routerLink="/register">Register</a>
        <a mat-list-item routerLink="/login">Login</a>
      </div>
      <div *ngIf="loggedIn" class="logged-in">
        <a mat-list-item routerLink="/dashboard">Dashboard</a>

        <div *ngIf="accountBalance">
              Your balance is: {{accountBalance.balance}}
        </div>
        <br>
        <div>
          <button (click)="getBalance()">Get Account Balance</button>
        </div>
          <button (click)="doLogout()">Log Out</button>
        <div *ngIf="adminIn" class="logged-in">
            <a mat-list-item routerLink="/film-settings">Film settings </a>
            <a mat-list-item routerLink="/user-settings">User settings</a>
        </div>
      </div>


      <!--<a mat-list-item href="/second-page">Link 2</a>
      <a mat-list-item href="#">Link 3</a>-->
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>NodeAngularFilm</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
